#imagem{
    width: 150px;
    
}

h1{
    font-size: 1.5rem;
}

#imagem_carrinho{
    width: 40px;
    
}

#banner {
    height: 80vh;
    width: 100vw;
}

.banner-fundo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('images/banner.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    margin-top: -100px;
    width: 100vw;
    height: 100%;
 }

 .bg-light{
     opacity: 0.8;
 }

 .banner-coluna2{
    width: 100%;
    height: 10vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 40vh;

}

.banner-botao{

    width: 220px;
    height: 45px;
    background-color: #BF3B3A;
    display: flex;
    opacity: 0.9;
    color:white;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    vertical-align: 30px;
    border-radius: 3px;
    cursor:pointer;
    
}

.banner-botao:hover {
    background-color: #912f2f;
}


#footer {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100vw; /*Footer precisa ocupar toda a tela devido a cor de fundo*/
    
    background-color: lightgrey; 
}

#footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    width: 80%; /*necessário pois os elementos do footer ainda precisam obedecer a margem padrão*/
}

#footer-img {
    margin-top:1vh;
    margin-bottom: 1vh;
    flex-direction: column;
    align-items: center;
    
}

#footer-img > img {
    height: 50px; 
    width: auto; /*Não modificar a dimensão padrão da imagem*/
}

#footer-telefone{

    margin-top: 1vh;
    margin-bottom: 1vh;

}


#footer-endereco{
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    padding-top: 50px;  /*Deixar o titulo um pouco afastado da div anterior*/
    padding-bottom: 20px; /*Deixar o titulo um pouco afastado do conteúdo da div que ele está*/
}

.titulo-linha {
    background: darkgray;
    width: 150px; /* Tamanho padrão da linha sublinhada */
}

.card-deck {
 
    align-items: center;
}

.card-title {
    margin-bottom: .75rem;
    padding-bottom: 5px;
    border-bottom: solid 1px lightgrey;
}

.btn{
    width: 100%;
}
.card{
    box-shadow: 0 1px 1px 0 #ECECEC, 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{

}



@media (min-width: 820px){
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
        padding: 50px;
    }
    }


@media(max-width: 850px){

   

    #footer-flex {
        flex-direction: column;
        justify-content: center;
    }

    #footer-img > img {
        width: 150px;
        height: auto;
    }

   
}






